.wrapper
  .sideVar
    = render './shared/sideVar'
  .chat
    .header
      .left-header
        .left-header__title #{current_user.groups.find(params[:group_id]).name}
        %ul.left-header__members
          %li.member.italic Member :
          - current_user.groups.find(params[:group_id]).users.each do |t|
            %li.member
              = "#{t.name},"
      .right-header
        = link_to edit_group_path(params[:group_id]), class: "right-header__button" do
          Edit
    .messages
      - @messages.each do |m|
        .message
          .upper_message
            .upper_message__user-name
              = "#{m.user.name}"
            .upper_message__data
              = "#{m.created_at}"
          .lower_message
            = "#{m.msg}"
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :msg, class: "form__message", id: "message__content", placeholder: "type your message."
        .form__mask
          %label{for: "message_image", class: "form__mask__image"}
            %i.fa.fa-picture-o.icon
            = f.file_field :upload, class: "hidden", id: "message_image"
        = f.submit :Send, class: "form__submit"
