.wrapper
  .sideVar
    = render './shared/sideVar'
  .chat
    .header
      .left-header
        .left-header__title #{current_user.groups.find(params[:group_id]).name}
        %ul.left-header__members
          %li.member.italic Member
          - current_user.groups.find(params[:group_id]).users.each do |t|
            %li.member
              = "| #{t.name}"
      .right-header
        = link_to edit_group_path(params[:group_id]), class: "right-header__button" do
          Edit
    .messages
      - @messages.each do |m|
        .message{ "data-message-id": "#{m.id}"}
          .upper_message
            .upper_message__user-name
              = "#{m.user.name}"
            .upper_message__data
              = data_display_style m
            - if m.user_id == current_user.id
              .upper_message__delete.italic
                = link_to group_message_path(params[:group_id], m.id), method: :delete do
                  Delete
          - if m.image.blank?
            .lower_message
              = "#{m.msg}"
          - elsif m.msg.blank?
            .lower_message
              = image_tag m.image.url
          - else
            .lower_message
              = image_tag m.image.url
            .lower_message
              = "#{m.msg}"
    .form
      = form_for [@group, @message], html: {id: 'new_message'} do |f|
        = f.text_field :msg, class: "form__message", id: "message__content", placeholder: "type your message.", autocomplete: "off"
        .form__mask
          %label{for: "message_image", class: "form__mask__image"}
            %i.fa.fa-picture-o.icon
            = f.file_field :image, class: "hidden", id: "message_image"
        = f.submit :Send, class: "form__submit"
