.chat-group-form
  %h1 チャットグループ編集
  = form_for(@group, url: {action: :update}, method: :patch, type: :hidden) do |t|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_name"} グループ名
      .chat-group-form__field--right
        = t.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください", value: @group.name, autocomplete: "off"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_チャットメンバーを追加"} チャットメンバーを追加
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = t.text_field [:user_ids, User.all, :id, :name], id: "user-search-field", class: "chat-group-form__input", placeholder: "追加したいユーザー名を入力してください", value: "", autocomplete: "off"
        .js-user-search-result
        //serch_list_displayed_here
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        .chat-group-users.js-add-user
          - Group.find(params[:id]).users.each do |user|
            .chat-group-user.clearfix.js-chat-member#chat-group-user-
              %input{ type:"hidden", name: "group[user_ids][]", value:"#{user.id}" }
              %p.chat-group-user__name #{user.name}
              = link_to "#", class: "user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn", data_user_id: "#{user.id}", data_user_name: "#{user.name}" do
                削除
        //checked_list_displayed_here
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        / グループ作成機能の追加時はここにcollection_check_boxesの記述を入れてください
        = t.submit :Update, class: "chat-group-form__action-btn", id: "submit_data"
