.chat-group-form
  %h1 新規チャットグループ
  = form_for(@group) do |t|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2= "#{@group.errors.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |msg|
            %li= msg
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_name"} グループ名
      .chat-group-form__field--right
        = t.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください", autocomplete: "off"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_チャットメンバーを追加"} チャットメンバーを追加
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = t.text_field [:user_ids, User.all, :id, :name], id: "user-search-field", class: "chat-group-form__input", placeholder: "招待したいユーザー名を入力してください", value: "", autocomplete: "off"
        .js-user-search-result
        //serch_list_displayed_here
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        .chat-group-users.js-add-user
        //checked_list_displayed_here
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = t.submit :Save, class: "chat-group-form__action-btn", id: "submit_data"
