.header
  %h3.header__name
    = link_to current_user.name, root_path
  %ul.header__lists
    %li.list
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.icon
    %li.list
      = link_to edit_user_path(current_user.id) do
        %i.fa.fa-cog.icon
.groups
  - current_user.groups.each do |grp|
    .group
      .group__name
        = link_to grp.name, group_messages_path(grp.id)
      - if Message.where(group_id: grp.id).blank?
        .group__message.italic
          = link_to group_messages_path(grp.id), class: "#{grp.id}" do
            Let's begin chat!
      - elsif Message.where(group_id: grp.id).last.msg.length == 0
        .group__message
          = link_to group_messages_path(grp.id), class: "#{grp.id}" do
            sent image.
      - else
        .group__message
          = link_to  group_messages_path(grp.id), class: "#{grp.id}" do
            #{Message.where(group_id: grp.id).last.msg}
