.header
  %h3.header__name
    = link_to 'User Name Test', root_path
  %ul.header__lists
    %li.list
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.icon
    %li.list
      = link_to edit_user_path(current_user.id) do
        %i.fa.fa-cog.icon
.groups
  - current_user.groups.each do |grp|
    .group
      .group__name
        = link_to grp.name, group_messages_path(grp.id)
      - if current_user.messages.where(group_id: grp.id).blank?
        .group__message.italic
          = link_to "- Let's begin chat! -", group_messages_path(grp.id)
      - else
        .group__message
          = link_to "#{current_user.messages.where(group_id: grp.id).last.msg}", group_messages_path(grp.id)
